<!-- Your form goes here! -->
<form action="/searches" method="post">
  <input type="hidden" name="authenticity_token" value=<%=form_authenticity_token%>>
  <label for="q">Search Query</label>
  <input id = "q" type="text" name="q">
  <input type="submit" value="Search">
</form>
